<!-- basic -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>hai gh</h1><hr>
   
    <form action='/removepuc' method='get'><textarea name="text"   style="margin: 0 px;width: 457 px;height: 300 px;"></textarea> 
        <button  type="submit">hello</button>
    </form>
    
    <tr></tr>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>hai gh</h1><hr>
   
    <form action='/analyser' method='get'><textarea name="text"   style="margin: 0 px;width: 457 px;height: 300 px;"></textarea> <br>
       <input type="checkbox" name="removepunc">remove punction<br>
       <input type="checkbox" name="fullcaps"> UPPERCASE<br>
       <input type="checkbox" name="newlineremover"> New Line Remover<br>
       <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
        <button  type="submit">hello</button>
    </form>
    
    <tr></tr>
</body>
</html>